# node modules anywhere
node_modules/
**/node_modules/

# Nx cache
.nx/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# secret files
apps/api/serviceAccountKey.json
apps/api/serviceAccountKey.json.json
apps/api/.env
apps/eva-school-web/.env

/apps/api/.env
/apps/eva-school-web/.env
/apps/api/config/serviceAccountKey.json
